<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Craftsy</title>
</head>
<body class="home">
    <header class="home__header">
        <div class="home__header--box-logo">
            <img class="home__header--logo"  src="/img/logo.png" alt="logotipo">
        </div>
        
        <a href="" class="home__header--bars"><i class="fa fa-bars fa-lg" style="color: var(--naranja);"></i></a>

        <nav class="home__header__nav--menu">
            <ul>
                <li><a href="#">smartphones</a></li>
                <li><a href="#">tablets</a></li>
                <li><a href="#">computadoras</a></li>
            </ul>
        </nav>
        <nav class="home__header__nav--user">
            <ul>
                <li><a href="#">login</a></li>
                <li><a href="#">registro</a></li>
            </ul>
        </nav>     
    </header>

    <main class="home__main">
        <div class="home__main__section--products">

            <article class="home__main__section__article">
                <div class="home__main__section__article--box-img">
                    <img class="home__main__section__article--img" src="/img/img-phone-01.jpg" alt="">
                </div>
                <h4 class="home__main__section__article--title">Nombre del Producto</h4>
                <p class="home__main__section__article--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, asperiores?</p>
                <a class="home__main__section__article--more" href="#">Ver más</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box-img">
                    <img class="home__main__section__article--img" src="/img/img-phone-02.jpg" alt="">
                </div>
                <h4 class="home__main__section__article--title">Nombre del Producto</h4>
                <p class="home__main__section__article--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, asperiores?</p>
                <a class="home__main__section__article--more" href="#">Ver más</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box-img">
                    <img class="home__main__section__article--img" src="/img/img-phone-03.jpg" alt="">
                </div>
                <h4 class="home__main__section__article--title">Nombre del Producto</h4>
                <p class="home__main__section__article--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, asperiores?</p>
                <a class="home__main__section__article--more" href="#">Ver más</a>
            </article>
            
            <article class="home__main__section__article">
                <div class="home__main__section__article--box-img">
                    <img class="home__main__section__article--img" src="/img/img-phone-01.jpg" alt="">
                </div>
                <h4 class="home__main__section__article--title">Nombre del Producto</h4>
                <p class="home__main__section__article--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, asperiores?</p>
                <a class="home__main__section__article--more" href="#">Ver más</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box-img">
                    <img class="home__main__section__article--img" src="/img/img-phone-02.jpg" alt="">
                </div>
                <h4 class="home__main__section__article--title">Nombre del Producto</h4>
                <p class="home__main__section__article--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, asperiores?</p>
                <a class="home__main__section__article--more" href="#">Ver más</a>
            </article>

            <article class="home__main__section__article">
                <div class="home__main__section__article--box-img">
                    <img class="home__main__section__article--img" src="/img/img-phone-03.jpg" alt="">
                </div>
                <h4 class="home__main__section__article--title">Nombre del Producto</h4>
                <p class="home__main__section__article--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, asperiores?</p>
                <a class="home__main__section__article--more" href="#">Ver más</a>
            </article>
        </div>
    </main>

    <aside class="home__aside">
        <div class="home__aside__section--aside">
            <div class="home__aside__section--aside-title">
                <h3>Tutoriales</h3>
            </div>
            <article class="home__aside__section__article">
                <div class="home__aside__section__article--container">
                    <img class="home__aside__section__article--img" src="/img/aside-01.jpg" alt="">
                    <p>Titulo del tutorial de reparación.</p>
                </div>

                <div class="home__aside__section__article--container">
                    <img class="home__aside__section__article--img" src="/img/aside-02.jpg" alt="">
                    <p>Titulo del tutorial de reparación.</p>
                </div>

                <div class="home__aside__section__article--container">
                    <img class="home__aside__section__article--img" src="/img/aside-03.jpg" alt="">
                    <p>Titulo del tutorial de reparación.</p>
                </div>

                <div class="home__aside__section__article--container">
                    <img class="home__aside__section__article--img" src="/img/aside-04.jpg" alt="">
                    <p>Titulo del tutorial de reparación.</p>
                </div>
            </article>
        </div>

        <div class="home__aside__section--aside">
            <div class="home__aside__section--aside-title">
                <h3>Publicidad</h3>
            </div>
            <article class="home__aside__section__article">
                <div class="home__aside__section__article">
                    <img src="/img/ad-01.jpg" alt="">
                </div>

                <div class="home__aside__section__article">
                    <img src="/img/ad-02.jpg" alt="">
                </div>
            </article>
        </div>
    </aside>
    <script src="https://kit.fontawesome.com/806fc8dcd9.js" crossorigin="anonymous"></script>
</body>
</html>